<a href="https://colab.research.google.com/github/hannahpav/courseera-sql/blob/main/SQL_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3 as db
con = db.connect("tutorial.db")

In [2]:
cur = con.cursor()

In [9]:
cur.execute('''CREATE TABLE Shoes
(
    Id  char(10) PRIMARY KEY,
    Brand char(10)  NOT NULL,
    Type char(250) NOT NULL,
    Color char(250) NOT NULL,
    Price decimal(8,2) NOT NULL,
    Desc  Varchar(750)  NULL #null values are NOT accepted
)''')

OperationalError: table Shoes already exists

In [15]:
cur.execute('''INSERT INTO Shoes
VALUES('14535974'
,'Gucci'
,'Slippers'
,'Pink'
,'695.00'
,NULL)''')
# takes first value indicated and put in first column
# no guarantee of what data in what column

In [24]:
cur.execute(''' INSERT INTO Shoes
(ID,
Brand,
Type,
Price,
Color)
VALUES
  ('12345678'
  ,'Prada'
  ,'Heels'
  , '310.93'
  ,'Black')
''')

IntegrityError: UNIQUE constraint failed: Shoes.Id

In [26]:
cur.execute(''' INSERT INTO Shoes
(ID,
Brand,
Type,
Price,
Color)
VALUES
  ('12341378'
  ,'Sketchers'
  ,'Sandals'
  , '33.93'
  ,'Green')
''')

IntegrityError: UNIQUE constraint failed: Shoes.Id

In [20]:
con.commit()

In [29]:
cur.execute('''CREATE TEMPORARY TABLE Sandals AS
     SELECT *
     FROM shoes
     WHERE Type = 'sandals'
 ''')

In [44]:
a=cur.execute('''SELECT *
FROM shoes
WHERE Brand == "Gucci"''')
a.fetchall()

[('14535974', 'Gucci', 'Slippers', 'Pink', 695, None)]