<a href="https://colab.research.google.com/github/hannahpav/courseera-sql/blob/main/SQL_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [2]:
cur = con.cursor()

In [9]:
cur.execute('''CREATE TABLE Shoes
(
    Id  char(10) PRIMARY KEY,
    Brand char(10)  NOT NULL,
    Type char(250) NOT NULL,
    Color char(250) NOT NULL,
    Price decimal(8,2) NOT NULL,
    Desc  Varchar(750)  NULL #null values are NOT accepted
)''')

OperationalError: table Shoes already exists

In [11]:
con